@import "toolkit";

footer {
  width: 100%;
  position: relative;
  text-align: center;
  ul {
    list-style: none;
    padding: 20px 0 0;
    margin: 0;
    border-top: 1px solid #EEE;
    li {
      display: inline-block;
      margin: 0 15px;

      &:first-child {margin: 0 15px 0 0;}
    }
  }
}

.social-links {
  li {
    @include opacity(0.5);
    @include transition(opacity, 0.2s);
    svg {
      width: 24px;
      height: 24px;
      fill: #999;
      .instagram  {fill: #2a5b83}
      .twitter    {fill: #20baef}
      .dribbble   {fill: #e64c87}
      .medium     {fill: #0DBB7B}
    }
    &:hover {
      @include opacity(1);
      cursor: pointer;
    }
  }
}