// Breakpoints
$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;


// @include phone {
//   font-size: 18px;
// }
@mixin phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}


// @include tablet {
//   font-size: 18px;
// }
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}


// @include desktop {
//   font-size: 20px;
// }
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// @include retina {
//   etc etc
// }
@mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}

