.logo-animate {
    line {
      stroke-dasharray: 415;
      stroke-dashoffset: 415;
      animation: w-logo 1.25s linear forwards;
    }
    .second {
      stroke-dasharray: 400;
      stroke-dashoffset: 400;
      animation: second 1.25s linear forwards;
    }
    .third {
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      animation: third 0.75s linear forwards;
      animation-delay: 0.5s;
    }
    @keyframes w-logo {
      from {stroke: #999; stroke-dashoffset: 400; stroke-width: 5 }
      to {stroke: #3E454C; stroke-dashoffset: 0; stroke-width: 28}
    }
    @keyframes second {
      from {stroke: #999; stroke-dashoffset: 415; stroke-width: 5}
      to {stroke: #3E454C; stroke-dashoffset: 0; stroke-width: 28}
    }
    @keyframes third {
      from {stroke: #999; stroke-dashoffset: 200; stroke-width: 5}
      to {stroke: #3E454C; stroke-dashoffset: 0; stroke-width: 28}
    }
}



