@import "toolkit";

.navigation-bar {
  position: relative;
  height: 60px;
  width: 100%;
  margin: 0;
  padding: 10px 80px 0;
  background: #FAFAFA;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;

  .logo {
    width: 35px;
    float: left;
    img {
      width: 100%;
    }
  }

  .items {
    display: block;
    float: right;
    margin-top: 6px;

    .navLink {
      margin: 0 10px;
      border-bottom: 2px solid transparent;
      @include opacity(0.2);
      @include transition(opacity, 0.2s);

      &:hover { @include opacity(1); }
    }

    .active {
      @include opacity(1);
      border-bottom: 2px solid $accent-color;
    }

    img {
      display: inline-block;
      width: 27px;
    }
  }
}

@include tablet {
  .navigation-bar {
    padding: 10px 40px;

    .items > .navLink {margin: 0 8px;}
  }
}

@include phone {
  .navigation-bar {
    text-align: center;
    padding: 10px 0;
    .logo {display: none;}
    .items {
      float: none;
      width: 100%;
      margin-top: 6px;
    }
    .items > .navLink {margin: 0 7%;border-bottom: none;}
    .items > .navLink:active {border-bottom: none;}
    .items > .navLink > img {
      width: 30px;
      padding-bottom: 0;
    }
  }
}
