@import "toolkit";

.navigation-bar {
  margin: 0;
  position: relative;
  padding: 25px 25px 0;
  background: #FFF;
  box-sizing: border-box;

  .logo {
    width: 50px;
    margin: 0;
    img {
      width: 100%;
    }
  }

  .items {
    display: inline-block;
    position: absolute;
    top: 45%;
    right: 2.5%;

    .navLink {
      margin: 0 10px;
      border-bottom: 3px solid transparent;
      @include opacity(0.2);
      transition: opacity 0.2s ease-in-out;

      &:hover { @include opacity(1); }
    }

    .active {
      @include opacity(1);
      border-bottom: 3px solid #25C6FF;
    }

    img {
      display: inline-block;
      width: 30px;
      padding-bottom: 2px;
    }
  }
}

@include tablet {

  .navigation-bar {
    padding-bottom: 15px;
    border-bottom: 1px solid #F4F4F4;

    .items > .navLink {margin: 0 8px;}
  }
}

@include phone {

  .navigation-bar {
    .items > .navLink {margin: 0 8px;}
  }
}